<div class='body_histo'>
  <app-menu-opciones></app-menu-opciones>

  <div class="cuerpo_reg ">
    <div class="cabecera_c_r ">
      <div class="titulo_c_c_r ">
        <b>Historial de cuenta (VEF)</b>
      </div>
      <div class="dato_c_c_r ">
        Saldo: <span><b>Bs. {{ _inicioSesion.usuario.player.available | number:'1.2-2' }}</b></span>
      </div>
    </div>

    <div class="cuerpo_c_r ">
      <div class="forma_comp " style='padding-bottom: 0px; '>
        <div class="subtitle ">
          Tipo de Historial:
        </div>
        <div class="subinput ">
          <select class="inpt_reg " id="nro1 " name='pais'>
            <option value="1">Todos los tickets</option>
            <option value="2">Tickets Pendientes</option>
            <option value="3">Tickets Finalizados</option>
            <!-- <option value="4">Movimientos de dinero</option> -->
          </select>
        </div>
      </div>

      <div class="forma_comp " style='padding: 8px 0px 4px 0px; font-size: 0.8em;'>
        <ul>
          <li style='padding-top: 3px;'>
            <input type="radio" id="f-option " name="selector " checked="true ">
            <label for="f-option ">Últimas 24 horas</label>
            <div class="check "></div>
          </li>
          <li style='padding-top: 3px;'>
            <input type="radio" id="s-option " name="selector ">
            <label for="s-option ">Últimas 48 horas</label>
            <div class="check ">
              <div class="inside "></div>
            </div>
          </li>
          <li style='padding-top: 3px;'>
            <input type="radio" id="t-option " name="selector ">
            <label for="t-option " style='margin-right: 15px;'>Rango</label>
            <div class="check ">
              <div class="inside "></div>
            </div>
          </li>
          <li>
            <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
            <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
            <div class='btn_ver'>Ver</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="forma_comp " style='padding-bottom: 0px; font-size: 0.75em; '>
      <div class='tabla_pend'>
        <div class='col col_nro indice'>
          #
        </div>
        <div class='col col_sel indice' >
          Documento
        </div>
        <div class='col col_sel indice' style="text-align: center">
          Fecha
        </div>
        <div class='col col_cuo indice'>
          Banco origen
        </div>
        <div class='col col_cuo indice'>
          Cuenta destino
        </div>
        <div class='col col_win indice'>
          Monto
        </div>
        <div class='col col_sel indice'>
          Referencia
        </div>
        <div class='col col_sel indice' style="text-align: center;">
          Estatus
        </div>
        <div *ngFor="let pay of pagos | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }">
          <div class='col col_nro'>
            {{pay.code}}
          </div>
          <div class='col col_sel' style="width: 13%; text-align: left;">
            {{pay.document}}
          </div>
          <div class='col col_sel' style="text-align: center">
            {{ pay.register_date | date:'dd/MM/yyyy'}} <br>
            {{ pay.register_date | date:'shortTime'}}
          </div>
          <div class='col col_cuo'>
            {{pay.bank.name}}
          </div>
          <div class='col col_cuo'>
            {{pay.account.name}} <br>
            {{pay.account.bank.name}}
          </div>
          <div class='col col_win'>
            Bs. {{pay.amount | number:'1.2'}}
          </div>
          <div class='col col_sel '>
            {{pay.reference}}
          </div>
          <div class='col col_sel' style="text-align: center;">
            <div *ngIf="pay.status == 0">Pendiente</div>
            <div *ngIf="pay.status == 1">Aprobado</div>
            <div *ngIf="pay.status == 3">Rechazado</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>