<div class="buscador_it_001"><input #caja type="text" name="search_eq" placeholder="Buscar ligas" class="search_eq"
    (keyup.enter)="buscarElemento(caja.value)">

    <div class="add_lig add_filter" (click)="buscarElemento(caja.value)">Filtrar</div>
    <div class="add_lig" routerLink="/agregarLiga">+ <span style="font-size: 0.9em;">Agregar liga</span></div>
</div>

<div class="equipos" id="equipos">
    <div>
        <table width="100%" class="tabla_equipos" *ngIf="liguias?.length === 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Deporte</th>
                    <th>Web ID</th>
                    <th>Importancia</th>
                    <th>Imagen</th>
                    <th>Sincronización</th>
                    <th>Nacionalidad</th>
                </tr>
            </thead>
            <tbody>
                <tr class="par_th_nt" *ngFor="let liga of ligas | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }">
                    <td width="5%" align="center">{{ liga.id }}</td>
                    <td #name [innerText]="liga.name" (blur)="modificarDato(liga.id, name.innerText, liga, 'name', 'nombre ')" contenteditable="true" width="20%" >
                        <p>{{ liga.name }}</p>
                    </td>
                    <td width="14%" align="center">
                        <select name="liga" class="ch_slc_nt" [value]="liga.category_id" (change)="modificarDato(liga.id, $event.target.value, liga, 'category_id', 'deporte ')">
                            <option *ngFor="let deporte of deportes " value={{deporte.id}}>{{ deporte.name }}</option>
                        </select>
                    </td>
                    <td width="9%" #name_uk [innerText]="liga.name_uk" (blur)="modificarDato(liga.id, name_uk.innerText, liga, 'name_uk', 'Web ID ')" contenteditable="true" align="center">
                        {{liga.name_uk}}
                    </td>
                    <td width="9%" #importance [innerText]="liga.importance" (blur)="modificarDato(liga.id, importance.innerText, liga, 'importance', 'importancia ')" contenteditable="true" align="center">
                        <p>{{ liga.importance }}</p>
                    </td>
                    <td width="9%" align="center">
                        <label style="cursor: pointer; position: relative; height: 60px;">
                            <img [src]="liga.image | imagen:'liga'" alt="" height="50px;">
                            <br>
                            <input type="file" name="imagenSubir" (change)="subirImagen($event, liga)" style="display: none">
                        </label>                        
                    </td>
                    <td width="20%" style="text-align: center;">
                        <!-- <p>{{ liga.url }}</p> -->
                        Úl. act.: {{liga.updated_at | date}}
                        <br>
                        <div class="expandir" style="background: #00488c; height: 25px; padding-top: 5px; width: 50%; margin-top: 5px;" (click)="sync(liga.id)">
                            <i id="spinact_{{liga.id}}" class="fas fa-sync"></i>&nbsp;&nbsp;Sincronizar
                        </div>
                    </td>
                    <td width="14%" align="center">
                        <select name="liga" class="ch_slc_nt" [value]="liga.country_id" (change)="modificarDato(liga.id, $event.target.value, liga, 'country_id', 'pais ')">
                            <option *ngFor="let nacionalidad of nacionalidades " value={{nacionalidad.id}}>
                                {{ nacionalidad.name }}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" id="tabla_equipos" *ngIf="liguias?.length > 0">
            <tbody>
                <tr class="par_th_nt" *ngFor="let liga of liguias ">
                    <td width="5%" align="center">{{ liga.id_liga }}</td>
                    <td width="20%">{{ liga.id_wihi_liga }}</td>
                    <td contenteditable="false" width="20%" class="ch_dv_nt">
                        <p (click)="cambiarEdit()" *ngIf="mostrarEdit === false">{{ liga.nombre_liga }}</p>
                        <input type="text" [value]="liga.nombre_liga" *ngIf="mostrarEdit === true"
                            [(ngModel)]="liga.nombre_liga" (focusout)="ocultarEdit( liga )">
                    </td>
                    <td width="14%">
                        <select name="liga" (change)="cambiarEdit()" class="ch_slc_nt" [(ngModel)]="liga.id_categoria">
                            <option *ngFor="let deporte of deportes " value={{deporte.id_categoria}}>
                                {{ deporte.descripcion }}</option>
                        </select>
                    </td>
                    <td width="9%">
                        {{liga.equipos}}
                    </td>
                    <td width="9%" align="center">
                        <p (click)="cambiarEdit()" *ngIf="mostrarEdit === false">{{ liga.importancia }}</p>
                        <input type="text" [value]="liga.importancia" *ngIf="mostrarEdit === true"
                            [(ngModel)]="liga.importancia" (focusout)="ocultarEdit( liga )">
                    </td>
                    <td width="9%">
                        <label style="cursor: pointer; position: relative; height: 60px;">
                            <img [src]="liga.img | imagen:'liga'" alt="" height="50px;">
                            <br>
                            <input type="file" name="imagenSubir" (change)="subirImagen($event, liga)"
                                style="display: none">
                        </label>
                    </td>
                    <td width="14%" align="center">
                        <select name="liga" (change)="cambiarEdit()" class="ch_slc_nt">
                            <option *ngFor="let nacionalidad of nacionalidades " value={{nacionalidad.id_lista_p}}>
                                {{ nacionalidad.nombre }}</option>
                        </select>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination_fixed">
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" maxSize="12" (pageChange)="cargarLigas($event, criterio, 'todas')"></pagination-controls>
    </div>
</div>