<div class='body_histo'>
    <app-menu-opciones></app-menu-opciones>
</div>
<div class="body_histo">
	<div class="tarjeta" *ngFor="let cuenta of cuentas">
		<div class="tjt_tit">
			<span>{{cuenta.bank.name}}</span> <br>
			<img src="../assets/misc/{{cuenta.bank.id}}.png" width="60%">
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">A nombre:</div>
			<div class="tjt_des">{{cuenta.name}}</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Documento:</div>
			<div class="tjt_des">{{cuenta.document}}</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Tipo:</div>
			<div class="tjt_des">Corriente</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Número:</div>
			<div class="tjt_des">{{cuenta.number}}</div>
		</div>
		<div class="tjt_cpo" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
			<div class="tjt_stt">Correo:</div>
			<div class="tjt_des">{{cuenta.email}}</div>
		</div>
	</div>
	
</div>