<div class="row footerMainLinks">
    <!-- end row 1 banner + cta -->
    <!-- start row 2 list 1 menu -->
    <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group">
                <!-- <input id="site-map-group-one" type="checkbox" wtx-context="95840B3D-327A-4049-9360-EA10C0CDCAED"> -->
                <label class="site-map-group-title" for="site-map-group-one">APUESTAS G</label>
                <ul class="site-map-group-list">
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="/es/cashier/about-us/">Quiénes somos</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/licensing/?NativeExternal=true"
                            target="_blank">Licencias</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="http://affiliates.888.com/es/?NativeExternal=true" target="_blank">Afiliados</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link"
                            href="https://888-external-es.custhelp.com/app/ask/prod/243?NativeExternal=True"
                            target="_blank">Contacto</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link" href="/es/sitemaphtml.htm">Mapa del
                            sitio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end row 2 list 1 menu -->
    <!-- start row 2 list 2 menu -->
    <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group">
                <!-- <input id="site-map-group-two" type="checkbox" wtx-context="39FD5528-5400-477D-9D79-53204FBC5AC9"> -->
                <label class="site-map-group-title" for="site-map-group-two">Seguridad y Privacidad</label>
                <ul class="site-map-group-list">
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/privacy-policy/?NativeExternal=true"
                            target="_blank">Política de privacidad</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/user-agreement/?NativeExternal=true"
                            target="_blank">Acuerdo con el usuario</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/responsible-gaming/?NativeExternal=true"
                            target="_blank">Juego responsable</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/fair-play/?NativeExternal=true"
                            target="_blank">Juego limpio</a>
                    </li>
                    <li class="site-map-group-item"><a class="site-map-link orbit-link"
                            href="https://apuestasg.win/security-and-privacy/disconnection-policy/?NativeExternal=true"
                            target="_blank">Política de desconexiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end row 2 list 2 menu -->
    <!-- start row 2 list 3 menu -->
    <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group">
                <!-- <input id="site-map-group-three" type="checkbox" wtx-context="AFBEE984-7C7B-4960-A297-922DA5F2F9B4"> -->
                <label class="site-map-group-title" for="site-map-group-three">Transacciones seguras</label>
                <ul class="site-map-group-list">
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/banking/deposit/">Depósitos</a>
                    </li>
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/banking/withdrawal/">Retiros</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end row 2 list 3 menu -->
    <!-- start row 2 list 4 menu -->
    <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group">
                <!-- <input id="site-map-group-four" type="checkbox" wtx-context="39532B4E-90F4-446F-A32C-285CC1B12AE1"> -->
                <label class="site-map-group-title" for="site-map-group-four">Apuestas</label>
                <ul class="site-map-group-list">
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/football/">Fútbol</a>
                    </li>
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/tennis/">Tenis</a>
                    </li>
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/basketball/">Baloncesto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end row 2 list 4 menu -->
    <!-- start row 2 list 5 menu -->
    <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group">
                <!-- <input id="site-map-group-five" type="checkbox" wtx-context="031702F4-AB86-48D9-B51D-7B367AD3CFFE"> -->
                <label class="site-map-group-title" for="site-map-group-five">Más información</label>
                <ul class="site-map-group-list">
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link"
                            href="/es/online-sports-betting-promotions/bonus-policy.htm">Política de bonus</a>
                    </li>
                    <li class="site-map-group-item">
                        <a class="site-map-link orbit-link" href="/es/getting-started/betting-rules/">Reglas de
                            apuestas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end row 2 list 5 menu -->

    <!-- start row 2 list 5 menu -->
    <!-- <div class="small-12 large-2 column footerTextBoxWarper"></div> -->
    <!-- <div class="small-12 large-2 column footerTextBoxWarper">
        <div class="main-footer-site-map">
            <div class="site-map-group casino-club">
                <div class="site-map-group-title"><a href="/komma-igang/ett-konto/">3 PRODUKTER, 1 KONTO</a></div>
                <div class="casino-club-list">
                                                        <a class="site-map-link" href="https://www.888casino.se" target="_blank"><em class="brand-icon casino-footer-icon">888casino.se</em></a>
                    <a class="site-map-link" href="https://www.888poker.se" target="_blank"><em class="brand-icon poker-footer-icon">888poker.se</em></a>
                    <a class="site-map-link" href="/"><em class="brand-icon sport-footer-icon">888sport.se</em></a>
                </div>
            </div>
        </div>
    </div>-->
</div>