<div class="equipos">
    <div class="buscador_it_001">
        <input type="text" name="search_eq" placeholder="Buscar un equipo" class="search_eq" [(ngModel)]="criterio">

        <div class="add_lig" routerLink="/agregarPartido">+</div>

        <input #date type="date" name="date_eq" placeholder="Fecha" class="search_eq filter_eq" [(ngModel)]="start">

        <select name="deporte" class="seleccional" [(ngModel)]="category_id" (change)="changeCategory()">
            <option value="0">Deporte</option>
            <option *ngFor="let deporte of deportes " value={{deporte.id}}>{{ deporte.name }}</option>
        </select>

        <select name="pais" class="seleccional" [(ngModel)]="country_id" (change)="changeCountry()">
            <option value="0">Pais</option>
            <option *ngFor="let pais of nacionalidades " value={{pais.id}}>{{ pais.name }}</option>
        </select>

        <select name="liga" class="seleccional" *ngIf="ligas?.length > 0 && ligas[0].name">
            <option value="0">Liga</option>
            <option *ngFor="let liga of ligas " value={{liga.id}}>{{ liga.name }}</option>
        </select>

        <select name="equipo" class="seleccional" *ngIf="equipos?.length > 0 && equipos[0].name">
            <option value="0">Equipo</option>
            <option *ngFor="let equipo of equipos " value={{equipo.id}}>{{ equipo.name }}</option>
        </select>

        <div class="add_lig add_filter" (click)="cargarPartidos('1', 'busquueeddaa')">Filtrar</div>
    </div>

    <table width="100%" class="tabla_equipos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipos</th>
                <th>Cuotas</th>
                <th>Datos</th>
                <th>Fechas</th>
                <th>Imagen</th>
                <th>Texto</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr class="par_th_nt" *ngFor="let partido of partidos | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }">
                <td width="5%" style="cursor: pointer" align="center" [routerLink]="['/partido', partido.id ]">
                    {{ partido.id }}</td>
                <td width="15%">
                    <div class='cada_liga_nt' *ngFor="let equipo of partido.competitors ">{{equipo.team.name}}</div>
                </td>
                <td width="7%">
                    <div class='cada_liga_nt' *ngFor="let equipo of partido.competitors ">
                        {{equipo.odd | cuota:'decimal'}}</div>
                </td>
                <td contenteditable="false" width="15%" class="ch_dv_nt">
                    <div class='cada_liga_nt'>{{ partido.start | date:'d/MM/yyyy'}}</div>
                    <div class='cada_liga_nt'>{{ partido.start | date:'shortTime'}}</div>
                </td>
                <td width="17%">
                    <div class='cada_liga_nt'>{{partido.league.category.name}}</div>
                    <div class='cada_liga_nt'>{{partido.league.name}}</div>
                </td>
                <td width="17%">
                    <label style="cursor: pointer; position: relative; height: 60px;">
                        <img [src]="partido.image | imagen:'partido'" alt="" height="50px;">
                        <br>
                        <input type="file" name="imagenSubir" (change)="subirImagen($event, partido)" style="display: none">
                    </label>
                </td>
                <td width="11%" style="text-align: center" contenteditable="true">
                    <!-- <label>En vivo <input type="checkbox" (change)="cambiarLive(partido)" [(ngModel)]="partido.status_lid" [checked]="partido.status_lid" name="status_lid" id="cbox_{{partido.id}}"></label>

                    <input type="text" class="datetime" value="{{partido.live_id}}" [(ngModel)]="partido.live_id" style="width: 90%;"> -->
                </td>
                <td width="13%">
                    <select class="ch_slc_nt" (change)="cambiarEstado(partido)" [(ngModel)]="partido.outstanding">
                        <option value="0">Sin características</option>
                        <option value="1">Zona 'Destacados'</option>
                    </select>
                    <div>
                        <!-- <div (click)="anularPartido( partido )" class=" botonera activo" *ngIf="partido.eventos[0] === 'Activo'">Activo</div>
                        <div class=" botonera cancelado" *ngIf="partido.eventos[0] === 'Cancelado'">Cancelado</div>
                        <div *ngIf="partido.eventos[0] === 'Activo'" class="botonera" [class.poriniciar]="partido.eventos[1] === 'Por iniciar'" [class.iniciado]="partido.eventos[1] === 'Iniciado'">{{partido.eventos[1]}}</div> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination_fixed">
        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" maxSize="12" (pageChange)="cargarPartidos($event, 'busquueeddaa')"></pagination-controls>
    </div>