<ng-container *ngIf="partido != []">
    <div class="main_nav">
        <div routerLink="/partidos" style="cursor: pointer;" class="ico_now">
            <i class="fas fa-angle-left"></i>
        </div>
        <span>{{partido?.league?.category?.name}} / {{partido?.league?.country?.name}} / {{partido?.league?.name}}  </span>
        <input class="datetime" type="datetime-local" value="{{partido.start}}" [ngModel]="partido.start | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="partido.start = $event">
    </div>

    <!-- <div class="main_nav" style="text-align: center; padding-top: 3px; margin-bottom: 3px">
        <input type="text" class="datetime" value="{{partido.url}}" [(ngModel)]="partido.url" style="width: 85%;">
    </div>
 -->
    <div class="main_nav">
        <div class="menu_menu_nav" style="color: yellow">Datos Principales</div>
        <div class="menu_menu_nav">Crear Apuesta</div>
    </div>

    <div style="text-align: center">
        <div class="elemes" *ngIf="partido?.competitors?.length === 2">
            <div class="elementos el50" *ngFor="let compe of partido.competitors; let i = index">
                <div class="elimg">
                    <img *ngIf="compe.team.name_uk !== 'Draw'" [src]="compe.team.image | imagen:'equipo'" height=75px class='ep_logo'>
                </div>
                <div class="eldatos">
                    <div style="font-size: 1.2em;">{{compe.team.name}}</div>
                    <div>
                        <input type="text" id="p{{i}}" *ngIf="partido.league.category.id === 2" class="namepit">
                        <input type="text" id="e{{i}}" *ngIf="partido.league.category.id === 2" style="width: 80px;" placeholder="ERA" class="erapit">
                    </div>
                </div>
                <div class="eldiv">
                    <input type="text" name="divi{{compe.team.id}}" class="elcuotas" value="{{compe.odd}}" [(ngModel)]="compe.odd" id="fq-{{compe.team.id}}">
                    <input type="text" (blur)="cuotaFraq(compe.team.id, $event.target.value, i)" class="elcuotas" value="{{compe.odd | cuota:'decimal'}}" id="de-{{compe.team.id}}">
                </div>
            </div>
        </div>

        <div class="elemes" *ngIf="partido?.competitors?.length === 3">
            <ng-container *ngFor="let compe of partido.competitors; let i = index">
                <div *ngIf="compe.team.name_uk !== 'Draw'" class="elementos el40">
                    <div class="elimg">
                        <img *ngIf="compe.team.name !== 'Empate'" [src]="compe.team.image | imagen:'equipo'" height=75px class='ep_logo'>
                    </div>
                    <div class="eldatos">
                        <div style="font-size: 1.2em;">{{compe.team.name}}</div>
                        <div>
                            <input type="text" id="p1" *ngIf="partido.league.category.id === 2" class="namepit">
                            <input type="text" id="e1" *ngIf="partido.league.category.id === 2" style="width: 80px;" placeholder="ERA" class="erapit">
                        </div>
                    </div>
                    <div class="eldiv">
                        <input type="text" name="divi{{compe.team.id}}" class="elcuotas" value="{{compe.odd}}" [(ngModel)]="compe.odd" id="fq-{{compe.team.id}}">
                        <input type="text" (keyup)="cuotaFraq(compe.team.id, $event.target.value, i)" class="elcuotas" value="{{compe.odd | cuota:'decimal'}}" id="de-{{compe.team.id}}">
                    </div>
                </div>
                <div *ngIf="compe.team.name_uk === 'Draw'" class="elementos el20" style="border-right: #272727 solid 1px;">
                    <div class="eldatos">
                        <div style="font-size: 1.2em;">{{compe.team.name}}</div>
                        <div>
                            <input type="text" id="p1" *ngIf="partido.league.category.id === 2" class="namepit">
                            <input type="text" id="e1" *ngIf="partido.league.category.id === 2" style="width: 80px;" placeholder="ERA" class="erapit">
                        </div>
                    </div>
                    <div class="eldiv" style="width: 50%;">
                        <input type="text" name="divi{{compe.team.id}}" class="elcuotas" value="{{compe.odd}}" id="fq-{{compe.team.id}}" [(ngModel)]="compe.odd">
                        <input type="text" (keyup)="cuotaFraq(compe.team.id, $event.target.value, i)" class="elcuotas" value="{{compe.odd | cuota:'decimal'}}" id="de-{{compe.team.id}}">
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="partido?.competitors?.length > 3">
            Ciao
        </div>
        <br>
        <div *ngIf="enviando === true">Enviando datos</div>
        <button class="boton guardar ef_slice" (click)="guardarInfo()" *ngIf="enviando === false">Guardar</button>
    </div>

</ng-container>