    .mCSB_inside>.mCSB_container {
        margin-right: 2px;
    }
    
    .gen_imp_eq {
        /*border-left: 1px solid #6e6e6e;
        border-right: 1px solid #6e6e6e;*/
        padding: 7px 10px;
        font-size: 13px;
        height: 36px;
        background-color: #efefef;
        display: inline-block;
        cursor: pointer;
        color: #666;
        position: relative;
    }
    
    .gen_imp_eq:hover {
        background: #ffdf1b;
        color: #444;
    }

    .gen_imp_eq:hover .ep_cl_logro {
        font-weight: bold;
        color: #444;
    }
    
    .eq_dos {
        width: 50%;
    }
    
    .dato_eq {
        padding: 4px 10px 7px 20px;
        height: 47px;
        font-size: 14px;
        overflow: initial;
    }
    
    .dato_eq .ep_cl_name {
        width: 85%;
    }
    
    .dato_eq .ep_cl_logro {
        width: 15%;
        font-size: 1.3em;
        padding-top: 9px;
    }
    
    .eq_tres {
        width: 37.5%;
    }
    
    .eq_tres_emp {
        width: 25% !important;
        border: none;
    }
    
    .ep_logo {
        top: 3px;
        left: 7px;
        height: 80%;
        position: absolute;
    }
    
    .eq_tres_emp .ep_cl_name {
        width: 70%;
        padding-left: 0px;
    }
    
    .dato_eq .pitcher_eq {
        font-size: 0.70em;
        margin-top: -2px;
        display: block !important;
    }
    
    .retirado {
        position: absolute;
        color: #efefef;
        font-size: 2.3em;
        top: 4px;
        left: -10px;
    }
    
    .a_g_r:hover {
        color: #ccc !important;
        cursor: not-allowed !important;
        background-color: #5e5e5e !important;
    }
    
    .iframe {
        margin-top: -65px;
    }
    
    .tapalogo {
        position: absolute;
        top: 4px;
        right: 0px;
        height: 26%;
        width: 27%;
        background: #efefef;
        text-align: center;
        padding-top: 3.5%;
        color: #cdcdcd;
    }
    
    .datetime {
        margin: 0 20px;
        background: #272727;
        border: none;
        height: 22px;
        outline: none;
        border-radius: 4px;
        text-align: center;
        color: #cfcfcf;
    }
    
    .img_dest {
        background: green;
        height: 110px;
        width: 100%;
        /* background: url(../../../assets/banners/1.jpg) no-repeat center center; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        padding-top: 5px;
        position: relative;
    }

    .img_dest_country {
        display: inline-block;
        position: absolute;
        bottom: 12px;
        margin-left: -6.5%;
        /* height: 27%; */
        width: 9.4%;
        height: auto;
        overflow: hidden;
        border-radius: 50%;
        padding: 0;
        padding: -5px;
        -webkit-filter: drop-shadow(8px 8px 10px #efefef);
        filter: drop-shadow(8px 8px 10px#efefef);
    }

    .img_int_country {
        /* FONT-WEIGHT: 100; */
        /* width: 100%; */
        /* height: auto; */
        display: inline;
        margin: 0 auto;
        /* margin-left: -25%; */
        height: 120%;
        width: auto;
        /* top: 0; */
        top: -10%;
        right: 1;
        position: absolute;
        right: -25%;
    }
    
    .versus {
        vertical-align: middle;
        font-size: 2.2em;
        font-weight: bold;
    }
    
    .letra {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        font-size: 1em;
        font-weight: bold;
    }
    
    .letra_color {
        color: brown;
    }
    
    .lizq {
        text-align: right;
        padding-right: 10px;
    }
    
    .lder {
        text-align: left;
        padding-left: 10px;
        max-height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .img_dest .ep_logo {
        vertical-align: middle;
        -webkit-filter: drop-shadow(8px 8px 10px #efefef);
        /* Safari */
        filter: drop-shadow(8px 8px 10px#efefef);
        height: 88%;
    }
    
    /*.redondo {
        border-bottom: 4px solid whitesmoke;
        border-radius: 100px;
    }*/

    .redondo {
        border: 2px solid #fff;
        background: #fff;
        border-radius: 50%;
    }

    .mCSB_horizontal.mCSB_inside > .mCSB_container {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .fixed {
        position: fixed;
        top: 0px;
    }

    .fixedbottom {
        position: fixed;
        bottom: 0px;
    }

    .div_racecourse {
        cursor: default;
        display: inline-block;
        width: 31%;
        text-align: center;
        padding: 4px 4px 2px 4px;
        border-width: 2px;
        color: #fff;
        margin: 4px 1%;
        background: white;
        color: #00093b;
        border-radius: 4px;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        cursor: pointer;
    }

    .div_racecourse div {
        cursor: pointer;
    }

    .div_racecourse:hover {
        transform: scale(1.04);
    }

    .div_plus_button {
        width: 4%;
        color: red;
        background: white;
    }

    .racecourses_active {
        border-bottom: 1px #0B244A solid;
        background: #0D2C49;
    }

    .nextrace {
        font-size: 0.8em; 
        padding: 2px 4px; 
        cursor: pointer; 
        display: block; 
        width: max-content; 
        margin: 0 0 4px 0;
    }

    .pitcher {
        height: auto !important;
    }

    .pitcher span {
        font-size: 1.2em;
    }

    .pitcher .ep_cl_logro {
        padding-top: 9px;
        color: #444;
        height: 30px;
        display: inline-block;
        width: 20%;
        font-size: 1.4em;
        text-align: center;
    }

    .pitcher .ep_cl_name {
        padding-left: 50px;
    }

    .game { 
        padding: 12.5px 15px 0 15px;
    }

    .border_game {
        border: 1.5px solid #0D2C49;
        border-radius: 3px;
        overflow: hidden;
    }

    .border_game .ep_cada_partido {
        color: white !important;
        background-color: #0D2C49;
    }

    .leagues_selected {
        width: 75%;
        background: red;
        display: inline-block;
    }

    .category_bar, .league_bar {
        background: #f2f2f2;
        color: #444;
        padding: 7px;
        font-size: 1.15em;
    }

    .category_bar img {
        color: black;
        vertical-align: bottom;
        margin-right: 5px;
        height: 24px;
    }

    .category_bar span {
        font-size: 1.15em;
    }

    .league_bar {
        border-bottom: 1px solid #444;
    }

    /* HOLA */

    .league_body {
        background: white;
    }

    .game_selected {
        margin-right:auto;
        margin-left:0px;
        color: #444;
    }

    game_selected:hover {
        background: #dedede;
    }

    .date_game {
        font-size: 11px;
        font-weight: 600;
        padding: 8px 16px;
        top: auto;
        position: static;
        z-index: 0;
        background: #fff;
        padding-bottom: 4px;
        margin-top: auto;
        text-transform: capitalize;
        color: #444;
    }

    .starttime_game {
        line-height: 1.38;
        margin-top: 10px;
        height: 36px;

        text-align: left;
        min-width: 72px;
        padding-left: 16px;
        color: #717171;
    }

    .odd-button {
        flex: 1;
        border: 1px solid #cacaca;
        border-radius: 4px;
        background-color: #f0f0f0;
        height: 35px;
        cursor: pointer;
        text-align: center;
        line-height: 35px;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 600;
        font-family: Source Sans Pro,sans-serif;
        margin: 0 2px;
        overflow: hidden;
    }

    .odd-group {
        display: inline-block;
        width: 100%;
    }

    .odd-button-three {
        width: 30%;
    }

    .odd-button-two {
        width: 45%;
    }

    .select_change {
        flex: 1;
        border: 1px solid #cacaca;
        border-radius: 4px;
        background-color: #f0f0f0;
        height: 35px;
        cursor: pointer;
        text-align: center;
        line-height: 35px;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 600;
        font-family: Source Sans Pro,sans-serif;
        margin: 0 2px;
        overflow: hidden;
        width: 27%;
        display: inline-block;
    }

    .table_td_width td {
        width: 10%;
    }

    .title_selected {
        border-color: #ffdf1b !important;
        color: #ffdf1b;
    }