<div class="zona_bet" style="position: relative">
    <div class="div_zb_1 zb_lado" style="position: relative">
        <div style="width: 100%; height: 100%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3; background: #0021695e;"
            *ngIf="esperando === true">
        </div>
        <div style="width: 100%; height: 100px; text-align: center; position: absolute; top: 80px; left: 50%; transform: translate(-50%, -50%); z-index: 4;"
            *ngIf="esperando === true"><img style="width: 17%;" src="../assets/iconos/pro.svg"></div>
        <div class="banner_nuevo" *ngIf="_inicioSesion.estatus === 'noSesion'">
            <img src="../../../assets/misc/banner_nuevo.jpg" width="100%" height="100%">
            <div class="title_esp_bn">Nuevos clientes</div>
            <div class="sub_title_esp_bn">Bono de ingreso de 10%</div>
            <div class="hasta_esp_bn">Hasta Bs.S. 100.000</div>
            <div class="condi_esp_bn">Se aplican ciertas condiciones</div>
            <div class="bn_btn_reg">
                <div class="btn_esp_bn">Regístrate Hoy</div>
                <div class="more_esp_bn">Más información</div>
            </div>
        </div>
        <div id="z1_bet">
            <div class="title_ap_fav bajo_verde_green">
                <label>
                    <input (click)="verifyRadio('24')" type="radio" id="cbox1" name="gender" checked> Próximas 24 horas
                    &nbsp;&nbsp;&nbsp;
                </label>
                <label>
                    <input (click)="verifyRadio('today')" type="radio" id="cbox2" name="gender"> Sólo hoy
                    &nbsp;&nbsp;&nbsp;
                </label>
                <form name="invfrm" (ngSubmit)="buscarEquipo(f.value)" #f="ngForm" ngNativeValidate
                    style="display: inline-block; vertical-align: middle; float: right; padding-right: 10px;">
                    <input class="solo_hoy" type="text" name="busqueda" placeholder="Busque un equipo" ngModel required
                        #busqueda="ngModel">
                </form>
            </div>
            <div class="title_ap_fav" style="padding: 0px; height: 100px;" malihu-scrollbar
                [scrollbarOptions]="scrollbarOptions">
                <ng-container *ngFor="let juego of juegos">
                    <div *ngIf="juego.juegos !== 0" class="ep_cada_cat  " id="temp-{{juego.id}}"
                        (click)="solohoy(juego.id)">
                        <div class="imagen_dep"><img src="../../../assets/deportes/{{juego.id}}.svg" alt=""
                                height="37px;">
                        </div>
                        <div class="texto_imagen_dep">{{juego.name}}</div>
                        <div class='spin_cat' [class.iconosport]="juego.id == id" id="spin-{{juego.id}}">
                            {{juego.juegos}}</div>
                    </div>
                </ng-container>
            </div>
            <div style="width: 100%; height: 25rem; text-align: center; position: relative;" *ngIf='partidos == []'>
                <div
                    style="background: #313131; padding: 7px; border-radius: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;">
                    No se encontraron juegos disponibles para este deporte.</div>
            </div>
            <div class="juegos_principales_zb1" *ngIf=" partidos !== []">
                <div *ngFor="let game of partidos">
                    <div class='ep_cada_liga' *ngIf="game.league_name">{{game.league_name}} <img
                            [src]="game.league.country_id + '.png' | imagen:'nacionalidad'" height=16px></div>
                    <div>
                        <div class='banda_fecha' *ngIf="game.manana">Mañana, {{ game.start | date:'d/MM/yyyy'}}</div>
                        <div class='ep_cada_partido'>
                            <span>{{game.encuentro}} {{ game.start | date:'d/MM/yyyy'}} -
                                {{ game.start | date:'shortTime'}}</span>
                        </div>
                        <div class="expandir" [routerLink]="['/verPartido', game.id]" [queryParams]="{partido: game}"
                            style="background: #00488c; height: 30px; padding-top: 7px;">
                            <i class="fas fa-expand"></i>&nbsp;Ampliar
                        </div>
                        <div *ngFor="let competitor of game.competitors" class="gen_imp_eq"
                            [class.eq_tres_emp]="game.competitors.length == 3 && competitor.team_id == 1"
                            [class.eq_tres]="game.competitors.length == 3 && competitor.team_id != 1"
                            [class.eq_dos]="game.competitors.length == 2"
                            (click)="selecciond( competitor.id, game.league.category_id )">
                            <div [class]="game.league.category_id | importantes:competitor.team.name "><img
                                    *ngIf="competitor.team.name !== 'Empate'"
                                    [src]="competitor.team.image | imagen:'equipo'" height=125%
                                    class='ep_logo'>{{competitor.team.name}}<br>
                                <!-- Agregar para partidos internacionales -->
                                <!-- <div class="div_span" *ngIf="(partido.category_id === '24' || partido.category_id === '29') && equipo.nacionalidad !== '0'">{{equipo.pais}} <img [src]="equipo.nacionalidad + '.png' | imagen:'nacionalidad'" height=12px></div> -->
                                <!-- <div class="div_span" *ngIf="(partido.category_id === '24' || partido.category_id === '29') && equipo.nacionalidad === '0'">Sin información <i class="fas fa-info-circle"></i> </div> -->
                                <!--  -->
                                <!-- <div class="pitcher_eq" *ngIf="(partido.category_id === '22') && equipo.pitcher !== false">{{equipo.pitcher.nombre}} ({{equipo.pitcher.era}}) </div>
                            <div class="pitcher_eq" style="display: none" *ngIf="(partido.category_id === '22') && equipo.pitcher === false">Sin información <i class="fas fa-info-circle"></i> </div> -->
                            </div>
                            <div class='ep_cl_logro'>{{competitor.odd | cuota:'decimal'}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="juegos_principales_zb1" *ngIf="racecourses !== [] && racecourses !== undefined && racecourses !== null">
                <div class='racecourses_active' style="min-height: 37px;">
                    <!-- <select name="fdfs" id="fsdf" class="solo_hoy" [(ngModel)]="racecourse" style="cursor: pointer; font-size: 1em;">
                        <option [value]="list.hip" *ngFor="let list of dias_carr">
                            {{list.hip}}
                        </option>
                    </select> -->
                    <ng-container *ngFor="let rce of racecourses">
                        <div class="div_racecourse" [ngStyle]="{background: (rce.id == racecourse) ? 'yellow' : 'white'}" (click)="getCareers(rce.id)">
                            <div style="width: 20%; display: inline-block; vertical-align: 8px;">
                                <img style="width: 90%;" [src]="rce.country_image" alt="">
                            </div>
                            <div class="card_careers">
                                {{rce.name}} <br>
                                <span class="solo_hoy" style="font-size: 0.8em; padding: 2px 4px; cursor: pointer;">
                                    5ta en 5 m
                                </span>
                            </div>
                        </div>
                    </ng-container>

                    <!-- <div *ngIf="racecourses.length > 3" class="div_plus_button">
                        +
                    </div> -->
                </div>
                <div class="renglon_gris">
                    <ng-container *ngFor="let dia of dias_carr">
                        <div class="rg_menu" *ngIf="dia.hip == racecourse"  [routerLink]="['/importantes', '7' ]"
                        [queryParams]="{dia: dia.dia, hipodromo: dia.hip }" [class.rg_select]="dia_c == dia.dia">{{dia.dia}}</div>
                    </ng-container >                    
                </div>
                <div class="carr_c1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <div *ngFor="let carrera of carreras" [routerLink]="['/importantes', '7' ]"
                        [queryParams]="{dia: carrera.dia, hipodromo: carrera.racecourse.id, carrera: carrera.number }"
                        style="display: inline-block; outline: none;">
                        <!-- {{carrera.dia}} - {{dia_c}} <br> {{carrera.racecourse.id}} - {{racecourse}} <br> -->
                        <div *ngIf="carrera.dia == dia_c && carrera.racecourse.id == racecourse" class="cc_menu"
                            [class.cc_select]="carrera_c == carrera.number">
                            <div class="cc_numero">{{carrera.number}}</div>
                            <div class="cc_cuadro"></div>
                            <div class="cc_hora">{{ carrera.posttime | date:'shortTime'}}</div>
                        </div>
                    </div>
                </div>
                <ng-container *ngFor="let carrera of carreras">
                    <ng-container *ngIf="carrera.number == carrera_c && carrera.dia == dia_c">
                        <div style="background: #0D2C49; padding: 4px; font-size: 1.1em;">
                            <div class='carrera_disp'>Carrera {{carrera.number}} - 
                                <!-- <span *ngIf="carrera.valid == 0¿nu">No
                                    vál.</span> <span *ngIf="carrera.valid != null">{{carrera.valid}}ª vál.</span> - -->
                                {{carrera.distance}} mts. - {{ carrera.posttime | date:'shortTime'}}
                                <span *ngIf="carrera.tittle">- {{carrera.tittle}}</span>
                                <span style="color: #042a51; font-size: 1em;" *ngIf="carrera.description"> -
                                    {{carrera.description}}</span>
                                <span *ngIf="carrera.surface">- {{carrera.surface}}</span>
                            </div>
                            <div class="expandir" style="vertical-align: middle"
                                [routerLink]="['/verCarrera', carrera.id]" [queryParams]="{carrera: carrera}">
                                Expandir
                            </div>
                        </div>

                        <div class='cab_inscrito' [ngStyle]="{background: (i % 2) ? '#f7f7f7' : 'white'}" *ngFor="let ins of carrera.inscriptions; index as i;">
                            <div class='nro_puerta'>
                                <div class='num_par' style="width: 25px; border-radius: 2px;" [ngStyle]="{background: '#' + colors[i]}">{{ins.number}}</div>
                                <div class='pue_par'>PP {{ins.position}}</div>
                            </div>
                            <div class='jersey_u'>
                                <img *ngIf="ins.stud" [src]="ins.stud.image | imagen: 'stud' " height=42px>
                                <img *ngIf="!ins.stud && !ins.horse.jacket_url" [src]="'noimage.png' | imagen: 'stud' " height=42px>
                                <img *ngIf="!ins.stud && ins.horse.jacket_url" [src]="ins.horse.jacket_url" style="margin-top: 5px;" height=26px>
                            </div>
                            <div class='datos_pr' style="width: 40%;">
                                <div class='nomb_cab' *ngIf="ins.horse.name !== ''">{{ins.horse.name}}
                                </div>
                                <div class='jin_cab' style="color: #999999;">
                                    <span *ngIf="ins.jockey !== null" style="color: #042a51;">{{ins.jockey.name}}</span>
                                    <span *ngIf="ins.jockey === null">Sin información <i
                                            class="fas fa-info-circle"></i></span> |
                                    <span *ngIf="ins.trainer !== null"
                                        style="color: #042a51;">{{ins.trainer.name}}</span>
                                    <span *ngIf="ins.trainer === null">Sin información <i
                                            class="fas fa-info-circle"></i></span></div>
                            </div>
                            <div class='datos_pr' style="width: 25%;">
                                <div class='nomb_cab nopad'>Peso: {{ins.weight}} kgs.</div>
                                <div class='jin_cab'>Edad:
                                    <span *ngIf="ins.horse.edad === '0'" style="color: #999999;"> Sin información
                                        <i class="fas fa-info-circle"></i> </span>
                                    <span *ngIf="ins.horse.edad !== '0'" style="color: #042a51;">
                                        {{ins.horse.edad }} </span></div>
                            </div>
                            <div *ngIf="ins.status != '2' && (ins.odd != null && ins.odd != 0)" (click)="seleccionh( ins.id )" class='a_ganar' style="padding-top: 15px; font-size: 1.25em;" id='pry_cab-$id_inscripcion'>  
                                <span>{{ins.odd}}</span>   
                            </div>

                            <div *ngIf="ins.status != '2' && (ins.odd == null || ins.odd == 0)" (click)="seleccionh( ins.id )" class='a_ganar' id='pry_cab-$id_inscripcion'>
                                <span *ngIf="ins.odd == null || ins.odd == 0">A<br>Ganar</span>     
                            </div>
                            <div *ngIf="ins.status == '2'" style="font-size: 2.3em; color: red" class='a_ganar a_g_r'>R</div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="div_zb_2 zb_lado">
        <div id="z2_bet">
            <div class="title_ap_fav bajo_verde_green">Apuestas destacadas</div>
            <div *ngFor="let dest of destacados">
                <ng-container *ngIf="dest.competitors">
                    <img [src]="dest.image | imagen:'partido'" width=100% class='img_dtcd'
                        *ngIf="dest.image !== 'noimage.png'">
                    <div *ngIf="dest.image == 'noimage.png'" class="img_dest"
                        [ngStyle]="{'background': 'url(../../assets/vallas/' + dest.league.category_id + '.jpg) no-repeat center center'}">
                        <ng-container *ngFor="let equipo of dest.competitors; let i = index">
                            <span class="versus" [class.letra_color]="dest.league.category_id === 4" *ngIf="i === 1"> VS
                            </span>
                            <img *ngIf="equipo.team.name != 'Empate'" [src]="equipo.team.image | imagen:'equipo'"
                                class='ep_logo' style="position: static;"
                                [class.redondo]="dest.league.category_id === 4">
                            <!-- <div class="img_dest_country">
                                <img *ngIf="dest.league.category_id === 4" class="img_int_country" [src]="equipo.team.country_id + '.png' | imagen:'nacionalidad'" height=16px name=image_country>
                            </div> -->
                            <img *ngIf="dest.league.category_id === 4" class="img_dest_country"
                                [src]="equipo.team.country_id + '.png' | imagen:'nacionalidad'" height=16px
                                name=image_country>

                        </ng-container>
                    </div>
                    <div class='titulo_destacado'>
                        <span class='liga_dtcd'>{{dest.league.name}}</span>
                        <!-- <span class='equipos_dtcd'>{{dest.titulo}}</span> -->
                        <span class='equipos_dtcd'>{{dest.encuentro}}</span>
                    </div>
                    <div class='ep_descripcion_ta'>{{ dest.start | date:'d/MM/yyyy'}} -
                        {{ dest.start | date:'shortTime'}}</div>
                    <div class='ep_cada_logo destacado_odd' *ngFor="let equipo of dest.competitors"
                        (click)="selecciond( equipo.id, dest.league.category_id )">
                        <img *ngIf="equipo.team.name != 'Empate'" class="destacado_img"
                            [src]="equipo.team.image | imagen:'equipo'" height=125%>
                        <div class='ep_cl_name destacado_name'>{{equipo.team.name}}</div>
                        <div class='ep_cl_logro destacado_cuota'>{{equipo.odd | cuota:'decimal'}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="zona_cuota">
        <app-cuotas></app-cuotas>
    </div>
</div>

<!-- <app-pie></app-pie> -->