<app-menu-changelog></app-menu-changelog>

<div class='body_histo'>
    <ng-container *ngIf="zona === 'changelogs'">
        <div style="padding: 15px;" *ngFor="let cl of changelogs">
            <div class="idiv">
                <i class="far fa-clock" *ngIf="cl.status === 0" (click)="verEstatus(cl.id)"></i>
                <i class="far fa-check-square" *ngIf="cl.status === 1" style="color: green;"></i>
            </div>
            <div class="textdiv">
                <div>
                    <h3>{{cl.text}}</h3>
                </div>
                <div style="font-size: 0.8em;">
                    <i class="far fa-user-circle"></i> {{cl.user_id}} &nbsp;&nbsp;&nbsp;
                    <i class="far fa-clock"></i> {{ cl.created_at | date:'d/MM/yyyy'}} {{ cl.created_at | date:'shortTime'}}
                </div>
            </div>
            <div *ngIf="nuevoEstatus === cl.id">
                <div (click)="cambiarEstatus(cl)" class="aceptar_hrs btn_hrs btn_jaustado">Tarea realizada</div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="zona === 'agregarTarea'">
        <div style="text-align: center; padding: 20px 0px;">
            <textarea placeholder="Escriba texto de nueva tarea" name="tarea" id="tarea_txt" cols="80" rows="5" [(ngModel)]="nuevaTarea" style="padding: 8px;"></textarea><br><br>
            <button (click)="enviarTarea()">Registrar nueva tarea</button>
        </div>
    </ng-container>
</div>