<div class='body_histo'>
  <app-menu-opciones></app-menu-opciones>

  <div class="cuerpo_reg ">
    <div class="cabecera_c_r ">
      <div class="titulo_c_c_r ">
        <b>Historial de cuenta (VEF)</b>
      </div>
      <div class="dato_c_c_r ">
        Saldo: <span><b>$ {{ _inicioSesion.usuario.player.available | number:'1.2-2' }}</b></span>
      </div>
    </div>

    <div class="cuerpo_c_r ">
      <div class="forma_comp " style='padding-bottom: 0px; '>
        <div class="subtitle ">
          Tipo de Historial:
        </div>
        <div class="subinput ">
          <select class="inpt_reg " id="nro1 " name='pais'>
            <option value="1">Todos los tickets</option>
            <option value="2">Tickets Pendientes</option>
            <option value="3">Tickets Finalizados</option>
            <!-- <option value="4">Movimientos de dinero</option> -->
          </select>
        </div>
      </div>

      <div class="forma_comp " style='padding: 8px 0px 4px 0px; font-size: 0.8em;'>
        <ul>
          <li style='padding-top: 3px;'>
            <input type="radio" id="f-option " name="selector " checked="true ">
            <label for="f-option ">Últimas 24 horas</label>
            <div class="check "></div>
          </li>
          <li style='padding-top: 3px;'>
            <input type="radio" id="s-option " name="selector ">
            <label for="s-option ">Últimas 48 horas</label>
            <div class="check ">
              <div class="inside "></div>
            </div>
          </li>
          <li style='padding-top: 3px;'>
            <input type="radio" id="t-option " name="selector ">
            <label for="t-option " style='margin-right: 15px;'>Rango</label>
            <div class="check ">
              <div class="inside "></div>
            </div>
          </li>
          <li>
            <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
            <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
            <div class='btn_ver'>Ver</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="forma_comp " style='padding-bottom: 0px; font-size: 0.75em; '>
      <div class='tabla_pend'>
        <div class='col col_nro indice'>
          #
        </div>
        <div class='col col_nro indice' style="width: 13%; text-align: left;">
          Tipo
        </div>
        <div class='col col_sel indice' style="padding-left: 20px;">
          Descripción
        </div>
        <!-- <div class='col col_dat indice'>
          ID Ticket
        </div> -->
        <div class='col col_cuo indice'>
          Fecha y hora
        </div>
        <div class='col col_win indice' style="text-align: center ">
          Debe
        </div>
        <div class='col col_win indice'>
          Haber
        </div>
        <div class='col col_win indice'>
          Saldo
        </div>
        <div *ngFor="let trans of transactions | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }">
          <div class='col col_nro'>
            {{trans.id}}
          </div>
          <div class='col col_nro' style="width: 13%; text-align: left;">
            {{trans.event.name}}
          </div>
          <div class='col col_sel' style="padding-left: 20px; text-align: left;">
            <div *ngIf="trans.event.id == 4">Bono de bienvenida <br>Código: <b>ENTRADA_100K_AG</b></div>
            <div *ngIf="trans.event.id == 1">Ticket generado <br>Serial: <b>{{trans.ticket_id}}</b></div>
            <div *ngIf="trans.event.id == 3">Ticket pagado <br>Serial: <b>{{trans.ticket_id}}</b></div>
          </div>
          <div class='col col_cuo'>
            {{ trans.created_at | date:'dd/MM/yyyy'}} <br>
            {{ trans.created_at | date:'shortTime'}}
          </div>
          <div class='col col_win' style="text-align: center ">
            <div *ngIf="trans.event_type_id == 1">$ {{trans.amount | number:'1.2'}}</div>
          </div>
          <div class='col col_win'>
            <div *ngIf="[4,3].indexOf(trans?.event_type_id) > -1">$ {{trans.amount | number:'1.2'}}</div>
          </div>
          <div class='col col_win'>
            $ {{trans.player_balance | number:'1.2'}}
          </div>
        </div>
        <!-- <div>
          <div class='col col_nro'>
            10004
          </div>
          <div class='col col_nro' style="width: 13%;">
            Ticket
          </div>
          <div class='col col_sel' style="padding-left: 20px;">
            Ticket de apuesta de 3 selecciones
          </div>
          <div class='col col_dat'>
            34gfg32435
          </div>
          <div class='col col_cuo'>
            25-12-2019 <br>
            11:30 a.m.
          </div>
          <div class='col col_win' style="text-align: center ">
            $ 1,000,000.00
          </div>
          <div class='col col_win'>

          </div>
          <div class='col col_win'>
            $ 1,500,000.03
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="pagination_fixed">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" maxSize="12" (pageChange)="cargarTransacciones($event)"></pagination-controls>
</div>
