<div>
    <div class="buscador_it_001">
        <input type="text" name="search_eq" placeholder="Buscar un equipo" class="search_eq" [(ngModel)]="criterio">

        <div class="add_lig" routerLink="/agregarPartido">+</div>

        <input #date type="date" name="date_eq" placeholder="Fecha" class="search_eq filter_eq" [(ngModel)]="start">

        <select name="deporte" class="seleccional" [(ngModel)]="category_id" (change)="changeCategory()">
            <option value="0">Deporte</option>
            <option *ngFor="let deporte of deportes " value={{deporte.id}}>{{ deporte.name }}</option>
        </select>

        <select name="pais" class="seleccional" [(ngModel)]="country_id" (change)="changeCountry()">
            <option value="0">Pais</option>
            <option *ngFor="let pais of nacionalidades " value={{pais.id}}>{{ pais.name }}</option>
        </select>

        <select name="liga" class="seleccional" *ngIf="ligas?.length > 0 && ligas[0].name">
            <option value="0">Liga</option>
            <option *ngFor="let liga of ligas " value={{liga.id}}>{{ liga.name }}</option>
        </select>
        
        <div class="add_lig add_filter" (click)="filtrarPartidos(1)">Filtrar</div>
    </div>

    <div style="text-align: center">
        <ng-container *ngIf="partidos?.length > 0">
            <div *ngFor="let part of partidos;" [class.ready]='part.status == 3' class="parts_rl" id="{{part.id}}">
                <div class="titulo_rl">
                    {{part.start}}
                </div>
                <div class="equipos_rl">   
                    <div *ngFor="let eq of part.competitors; let i = index" class="equipo_rl">
                        <div class="name_rl">{{eq.team.name}}</div>
                        <div class="caja_rl" id="RL{{i}}{{part.id}}" contenteditable="true">{{eq.result}}</div>
                    </div>
                </div>
                <div class="boton_rl ready2" *ngIf='part.status == 3'>
                    <i class="fas fa-file-invoice-dollar"></i>
                </div>

                <div class="boton_rl" (click)="enviarRL(part.id, part.league.category_id, part.competitors[0].bet_type_id, part)" *ngIf='part.status != 3'>
                    <i class="far fa-check-square"></i>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="carreras?.length > 0">
            <div *ngFor="let carr of carreras" class="parts_rl" id="{{carr.id}}">
                <div class="titulo_rl">
                    {{carr.date}} - Carrera {{carr.number}}
                </div>
                <div class="equipos_rl carreras_rl">
                    <div class="equipo_rl caballo_rl">
                        <select name="" id="{{carr.id}}cab1" class="cab_rl" [disabled]="carr.cuadro[0].ejemplar !== null">
                            <option value="0">Selecciona al 1er lugar</option>
                            <option *ngFor="let cab of carr.inscriptions " [selected]="cab.id == carr.cuadro[0].ejemplar" value={{cab.id}}>{{ cab.horse.name }}</option>              
                        </select>
                        <div class="caja_rl" id="{{carr.id}}div1" contenteditable="true"><span *ngIf="carr.cuadro?.length > 0" class="cab_rl">{{ carr.cuadro[0].cuota }}</span></div>
                    </div>
                    <div class="equipo_rl caballo_rl">
                        <select name="" id="{{carr.id}}cab2" class="cab_rl" [disabled]="carr.cuadro[1].ejemplar !== null">
                            <option value="0">Selecciona al 2do lugar</option>
                            <option *ngFor="let cab of carr.inscriptions " [selected]="cab.id == carr.cuadro[1].ejemplar" value={{cab.id}}>{{ cab.horse.name }}</option>              
                        </select>
                        <div class="caja_rl" id="{{carr.id}}div2" contenteditable="true"><span *ngIf="carr.cuadro?.length > 0" class="cab_rl">{{ carr.cuadro[1].cuota }}</span></div>
                    </div>
                    <div class="equipo_rl">
                        <select name="" id="{{carr.id}}cab3" class="cab_rl" [disabled]="carr.cuadro[2].ejemplar !== null">
                            <option value="0">Selecciona 3er lugar</option>
                            <option *ngFor="let cab of carr.inscriptions " [selected]="cab.id == carr.cuadro[2].ejemplar" value={{cab.id}}>{{ cab.horse.name }}</option> 
                        </select>
                        <div class="caja_rl" id="{{carr.id}}div3" contenteditable="true"><span *ngIf="carr.cuadro?.length > 0" class="cab_rl">{{ carr.cuadro[2].cuota }}</span></div>
                    </div>
                </div>
                <div class="boton_rl btn_cab" (click)="enviarCB(carr.id, carr)">
                    <i class="far fa-check-square"></i>
                </div>
            </div>
        </ng-container>

    </div>
</div>