<!-- <div class="barra_div_izq">
    <img src="../../../../assets/iconos/logo_bz_1024.png" width="95%"> <br>
    <div style="font-size: 0.9em; padding-top: 8px;">
        {{_inicioSesion.usuario?.nick}} <br> {{_inicioSesion.usuario?.player?.name}} {{_inicioSesion.usuario?.player?.lastname}}
    </div>
</div> -->
<ng-container id="menuBarra">
    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="brr_izq_menu start">
            Inicio
        </div>

        <!-- <div class="brr_izq_menu" *ngFor="let category of categories">

            {{category.name}}

        </div> -->

        <div id="pagine_10" class="submenu" *ngFor="let category of categories">

            <div [ngClass]="category.collapse ? 'brr_izq_menu selected' : 'brr_izq_menu'" (click)="collapse(category)">
                <div>
                    <div style="display: inline-block; width: auto; vertical-align: top;">
                        <img [src]="category?.image" class="icon" alt="">
                    </div>
                    <div class="category_title">
                        {{category.name}}
                    </div>
                </div>
                <div class="submenu_flecha"><span class="flecha_enc"><i class="fas fa-angle-down"></i></span></div>
            </div>

            <div style="display: none;" [ngClass]="category.collapse ? 'visible' : ''">
                <ng-container *ngFor="let country of category.countries">
                    <div [ngClass]="country.collapse ? 'subsubmenu subsubmenu_selected' : 'subsubmenu'" (click)="collapse(country)">
                        <img [src]="country?.image" class="icon" alt="">
                        {{country.name}}
                        <div class="submenu_flecha">
                            <span class="flecha_enc"><i class="fas fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div *ngIf="country.collapse">
                        <div *ngFor="let league of country?.leagues" class="leagues_menu"  (click)="checked(league)">
                            <input type="checkbox" [checked]="league.checked">
                            <div class="title_league">
                                {{league.name}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>