<div class="buscador_it_001"><input #caja type="text" name="search_eq" placeholder="Buscar un equipo" class="search_eq" disabled>
    <div class="add_lig" routerLink="/ligas">Regresar a ligas</div>
</div>
<br><br><br><br>

<div class="formulario">
    <form #f="ngForm" ngNativeValidate (ngSubmit)="enviarDatos(f)">
        <label>
          Nombre de la Liga:
          <input type="text" required name="name" class="entrada" [(ngModel)]="liga.name">
        </label>
        <label>
            URL de actualización:
            <input type="text" name="url" class="entrada" [(ngModel)]="liga.url">
        </label>
        <label>
            Categoría de Deporte
            <select name="category_id" class="entrada" [(ngModel)]="liga.category_id">
                <option *ngFor="let deporte of deportes" value={{deporte.id}}>{{ deporte.name }}</option>
            </select>
        </label>
        <label>
            País de la liga
            <select class="entrada" name="country_id" [(ngModel)]="liga.country_id">
                <option *ngFor="let nacionalidad of nacionalidades " value={{nacionalidad.id}}>{{ nacionalidad.name }}</option>
            </select>
        </label>
        <div class="partes_tit barra_botn">
            <div class="butt_lig butt_canc_lig">Cancelar</div>
            <button class="butt_lig butt_acep_lig" type="submit">Aceptar</button>
        </div>
    </form>
</div>