<app-menu-caballos></app-menu-caballos>
<div>
    <div class='cada_hrs pan_hrs' style="text-align: center;">
        <input #caja type="text" placeholder="Buscar un jinete" (keyup.enter)="buscarElemento( caja.value )" class="inpiut"><button (click)="buscarElemento( caja.value )" class="inpiut_button"><i class="fas fa-search" style="font-size: 1em !important;"></i></button><br><br>
        <div class="upd_act" routerLink="/nuevoJinete">
            <i class="far fa-plus-square" style="font-size: 3em;"></i><br>Agregar Jinete
        </div>
        <div class="upd_act" (click)="cargarJinetes(1, 'todos')">
            <i id="spinact" class="fas fa-sync" style="font-size: 3em;"></i><br>Actualizar lista
        </div>
    </div>

    <ng-container *ngIf="jienetes?.length === 0">
        <div class='cada_hrs' *ngFor="let jinete of jinetes | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }; let i = index">
            <div class='name_hrs'>{{jinete.name}}</div><br>
            <div class='des_hrs'>-</div>
            <div class='fecha_hrs'>-</div>
            <div class='d_padre_hrs'>Estatura: </div>
            <div class='padre_hrs'>{{jinete.height}}</div>
            <div class='d_padre_hrs'>Peso: </div>
            <div class='padre_hrs'>{{jinete.weight}}</div>
            <div class='d_padre_hrs'>Origen: </div>
            <div class='padre_hrs'>{{jinete.country_id}}</div>
        </div>
    </ng-container>

    <ng-container *ngIf="jienetes?.length > 0">
        <div class='cada_hrs' *ngFor="let jinete of jienetes | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }; let i = index">
            <div class='name_hrs'>{{jinete.name}}</div><br>
            <div class='des_hrs'>-</div>
            <div class='fecha_hrs'>-</div>
            <div class='d_padre_hrs'>Estatura: </div>
            <div class='padre_hrs'>{{jinete.height}}</div>
            <div class='d_padre_hrs'>Peso: </div>
            <div class='padre_hrs'>{{jinete.weight}}</div>
            <div class='d_padre_hrs'>Origen: </div>
            <div class='padre_hrs'>{{jinete.country_id}}</div>
        </div>
    </ng-container>
</div>

<div class="pagination_fixed">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" maxSize="12" (pageChange)="cargarJinetes($event)"></pagination-controls>
</div>   