<div class="buscador_it_001">
    <input #caja type="text" name="search_eq" placeholder="Buscar un equipo" class="search_eq" (keyup.enter)="buscarElemento(caja.value)">
    <div class="add_lig" routerLink="/agregarEquipo">+</div>
    <div class="add_lig add_filter" (click)="buscarElemento(caja.value)">Filtrar</div>
</div>

<div class="equipos">
    <table width="100%" id="tabla_equipos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre externo</th>
                <th>Nombre</th>
                <th>Ligas</th>
                <th>Acrónimo</th>
                <th>Imagen</th>
                <th>Estadio/Sede</th>
                <th>Nacionalidad</th>
            </tr>
        </thead>
        <tbody>
            <tr class="par_th_nt" *ngFor="let equipo of equipos ">
                <td width="5%" align="center">{{ equipo.id }}</td>
                <td width="15%">{{ equipo.name_uk }}</td>
                <td #name [innerText]="equipo.name" (blur)="modificarDato(equipo.id, name.innerText, equipo, 'name', 'nombre ')" contenteditable="true" width="15%">
                    <p>{{ equipo.name }}</p>
                </td>
                <td width="17%">
                    <div class='cada_liga_nt' *ngFor="let liga of equipo.leagues" (click)="ligaCa(liga)">
                        {{liga.name}}
                    </div>
                </td>
                <td contenteditable="true" [innerText]="equipo.acro" #acro (blur)="modificarDato(equipo.id, acro.innerText, equipo, 'acro', 'acrónimo ')" width="11%">
                    <p>{{ equipo.acro }}</p>
                </td>
                <td width="8%" align="center">
                    <label style="cursor: pointer; position: relative; height: 60px;">
                        <img [src]="equipo.id + '.png'| imagen:'equipo'" alt="" height="50px;">
                    </label>
                </td>
                <td contenteditable="true" width="16%" [innerText]="equipo.stadium" #stadium (blur)="modificarDato(equipo.id, stadium.innerText, equipo, 'stadium', 'estadio ')">
                    <p *ngIf="mostrarEdit === false" style="cursor:pointer">{{ equipo.stadium }}
                    </p>
                </td>
                <td width="13%" align="center">
                    <select name="nacionalidad_equipo" [value]="equipo.country_id" (change)="modificarDato(equipo.id, $event.target.value, equipo, 'country_id', 'nacionalidad ')">
                        <option *ngFor="let nacionalidad of nacionalidades " value={{nacionalidad.id}}>
                            {{ nacionalidad.name }}</option>
                    </select>
                </td>

            </tr>
        </tbody>
    </table>

    <ul class="pagination pagination-large">
        <li style="cursor: pointer" class='{{desactivar}}' (click)="cambiarPagina('b')"><span>&lsaquo; Anterior</span>
        </li>
        <li style="cursor: pointer">
            <span class='color_gray' (click)="cambiarPagina('a')">Siguiente &rsaquo;</span>
        </li>
    </ul>
</div>