.trthnt_id {
    width: 5%;
    border-left: none;
}

.trthnt_name {
    width: 15%;
}

.trthnt_nombre_wh {
    width: 15%;
}

.trthnt_ligas {
    width: 17%;
}

.trthnt_acronimo {
    width: 11%;
}

.trthnt_imagen {
    width: 13%;
}

.trthnt_nacionalidad {
    width: 11%;
}

.trthnt_ciudad {
    width: 13%;
    padding: 4px 10px 5px 10px;
}

.add_lig {
    margin-right: 15px;
    width: auto;
    padding: 1px 15px;
    font-size: 1.3em;
}

.add_filter {
    width: auto;
    padding: 5px 10px;
    font-size: 1em;
    background: #d61828;
}

.botonclear {
    position: absolute;
    background: #d61828;
    padding: 2px 5px;
    bottom: 4px;
    right: 7px;
    height: 24px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.solo_hoy {
    margin-right: 22px;
    color: #FFD537;
}