<div class='menu_barra_mem'>
  <div class='btn_deposit' routerLink="/deposito" routerLinkActive="tmm_select">Depósito</div>
  <div class='tab_menu_mem ' routerLink="/depositos" routerLinkActive="tmm_select">Depósitos</div>
  <div class='tab_menu_mem ' routerLink="/bancos" routerLinkActive="tmm_select">Bancos</div>
  <div class='tab_menu_mem' routerLink="/mi-cuenta" routerLinkActive="tmm_select">Mi cuenta</div>
  <div class='tab_menu_mem' routerLink="/historial" routerLinkActive="tmm_select">Historial</div>
  <div class='tab_menu_mem' routerLink="/promociones" routerLinkActive="tmm_select">Promociones</div>
  <div class='tab_menu_mem' routerLink="/mensajes" routerLinkActive="tmm_select">Mensajes</div>
  <div class='tab_menu_mem ' routerLink="/transacciones" routerLinkActive="tmm_select">Transacciones</div>
</div>