<app-menu-caballos></app-menu-caballos>
<div>
    <div class='cada_hrs pan_hrs' style="text-align: center; height: 75px;">
        <div style="width: 50%; display: inline-block; vertical-align: middle">
            <input type="text" #caja placeholder="Buscar" (keyup.enter)="buscarElemento( caja.value )" class="inpiut"><button (click)="buscarElemento( caja.value )" class="inpiut_button"><i class="fas fa-search" style="font-size: 1em !important;"></i></button>
        </div>
        <div style="width: 50%; display: inline-block; vertical-align: middle; text-align: left;">
            <div style="margin-bottom: 5px;" routerLink="/nuevoEntrenador" class="update">
                <i class="far fa-plus-square" style="font-size: 1.7em; vertical-align: sub; padding-right: 6px;"></i>Agregar
            </div>
            <div class="update" (click)="cargarEntrenadores(1, 'todos')">
                <i id="spinact" class="fas fa-sync" style="font-size: 1.5em; vertical-align: sub; padding-right: 6px;"></i>Actualizar
            </div>
        </div>
    </div>

    <ng-container *ngIf="entrenados?.length === 0">
        <div class='cada_hrs' style="height: 75px;" *ngFor="let entrenador of entrenadores | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }; let i = index">
            <div class='name_hrs'>{{entrenador.name}}</div><br>
            <div class='d_padre_hrs'>Origen: </div>
            <div class='padre_hrs'>{{entrenador.country_id}}</div>
        </div>
    </ng-container>

    <ng-container *ngIf="entrenados?.length > 0">
        <div class='cada_hrs' style="height: 75px;" *ngFor="let entrenador of entrenados | paginate: { itemsPerPage: 50, currentPage: pagina, totalItems: total }; let i = index">
            <div class='name_hrs'>{{entrenador.name}}</div><br>
            <div class='d_padre_hrs'>Origen: </div>
            <div class='padre_hrs'>{{entrenador.country_id}}</div>
        </div>
    </ng-container>
</div>


<div class="pagination_fixed">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" maxSize="12" (pageChange)="cargarEntrenadores($event)"></pagination-controls>
</div>   