<div class='body_histo'>
    <app-menu-opciones></app-menu-opciones>

    <!-- <div class='ter_membrete'>
        <div class='sem_opc'>Deportes</div>
        <div class='sem_opc'>Carreras Hípicas</div>
    </div> -->

    <div class="cuerpo_reg ">
        <div class="cabecera_c_r ">
            <div class="titulo_c_c_r ">
                <b>Historial de cuenta (VEF)</b>
            </div>
            <div class="dato_c_c_r ">
                Saldo: <span><b>Bs. {{ _inicioSesion.usuario.player.available | number:'1.2-2' }}</b></span>
            </div>
        </div>

        <div class="cuerpo_c_r ">
            <div class="forma_comp " style='padding-bottom: 0px; '>
                <div class="subtitle ">
                    Tipo de Historial:
                </div>
                <div class="subinput ">
                    <select class="inpt_reg " id="nro1 " name='pais' (change)="cargarTicketes($event.target.value)">
                        <option value="1">Todos los tickets</option>
                        <option value="2">Tickets Pendientes</option>
                        <option value="3">Tickets Finalizados</option>
                        <!-- <option value="4">Movimientos de dinero</option> -->
                    </select>
                </div>
            </div>

            <div class="forma_comp " style='padding: 8px 0px 4px 0px; font-size: 0.8em;'>
                <ul>
                    <li style='padding-top: 3px;'>
                        <input type="radio" id="f-option " name="selector " checked="true ">
                        <label for="f-option ">Últimas 24 horas</label>
                        <div class="check "></div>
                    </li>
                    <li style='padding-top: 3px;'>
                        <input type="radio" id="s-option " name="selector ">
                        <label for="s-option ">Últimas 48 horas</label>
                        <div class="check ">
                            <div class="inside "></div>
                        </div>
                    </li>
                    <li style='padding-top: 3px;'>
                        <input type="radio" id="t-option " name="selector ">
                        <label for="t-option " style='margin-right: 15px;'>Rango</label>
                        <div class="check ">
                            <div class="inside "></div>
                        </div>
                    </li>
                    <li>
                        <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
                        <input type="text " class="inpt_reg fdn fecha " name='anyo' id="nro47 ">
                        <div class='btn_ver'>Ver</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cuerpo_c_r " *ngFor="let tk of tickets ">
            <div class="forma_comp " style='padding-bottom: 0px; font-size: 0.75em; '>
                <div class='tabla_pend'>
                    <div class='col col_nro indice'>
                        #
                    </div>
                    <div class='col col_sel indice' style="padding-left: 20px;">
                        Selecciones
                    </div>
                    <div class='col col_dat indice'>
                        Fecha y Hora
                    </div>
                    <div class='col col_cuo indice'>
                        Cuota total
                    </div>
                    <div class='col col_apo indice' style="text-align: center ">
                        Apostado
                    </div>
                    <div class='col col_win indice'>
                        A Ganar
                    </div>

                    <div class='col col_nro'>
                        <!-- {{tk.id}} -->
                        {{tk.code}}
                    </div>
                    <div class='col col_sel'>
                        <!-- <div class='daterio'>
                            {{tk.correlative}}
                        </div> -->
                        <!-- <div class='daterio'>
                            {{tk.code}}
                        </div> -->
                        <div style="display: inline-block; vertical-align: middle; width: 94%; ">
                            <div class='selecea' *ngFor="let sel of tk.selections ">
                                <ng-container *ngIf="sel.category_id == '7' ">
                                    <div class='c_sele'>({{sel.inscription.number}}) {{sel.inscription.horse.name}}
                                        <span *ngIf="sel.value != 1 && sel.inscription.odd == null"> @ {{sel.value | number:'1.2'}} </span>
                                        <span *ngIf="sel.inscription.odd != null"> @ Bs. {{sel.inscription.odd | number:'1.2'}} </span>
                                        <span class='banner_histo' *ngIf="sel.inscription.status == 0">Pendiente</span>
                                        <span class='banner_histo ganadeivis'
                                            *ngIf="sel.inscription.status == 1">Ganador</span>
                                        <span class='banner_histo pendeivis'
                                            *ngIf="sel.inscription.status == 2">Segundo</span>
                                        <span class='banner_histo pendeivis'
                                            *ngIf="sel.inscription.status == 3">Tercero</span>
                                        <span class='banner_histo pendeivis' *ngIf="sel.inscription.status == 99">No
                                            figuró</span>
                                    </div>

                                    <div class='enc_sele'>Carrera {{sel.career.number}} de
                                        {{sel.career.racecourse.name}}
                                        ({{ sel.career.date | date:'dd/MM/yyyy'}})</div>
                                </ng-container>
                                <ng-container *ngIf="sel.category_id != '7' ">
                                    <div class='c_sele'><b>{{sel.team_name}}</b> @ {{sel.value | cuota:'decimal'}}
                                        <span class='banner_histo' *ngIf="sel.status === 0 ">Pendiente</span>
                                        <span class='banner_histo ganadeivis' *ngIf="sel.status === 1 ">Ganador</span>
                                        <span class='banner_histo' *ngIf="sel.status==='2' ">Descartado</span>
                                        <span class='banner_histo pendeivis' *ngIf="sel.status=== 3 ">Perdedor</span>
                                    </div>
                                    <div class='enc_sele'>{{sel.game.encuentro}}
                                        ({{ sel.game.start | date:'dd/MM/yyyy'}} {{ sel.game.start | date:'shortTime'}})
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <div class='col col_dat'>
                        {{ tk.created_at | date:'dd/MM/yyyy'}} <br> {{ tk.created_at | date:'shortTime'}}
                    </div>
                    <div class='col col_cuo'>
                        <span *ngIf="tk.towin === 1 && tk.status === 0 ">Cuota según dividendo</span>
                        <span *ngIf="tk.towin === 1 && tk.status === 3 ">---</span>
                        <span *ngIf="tk.towin > 1 && tk.selections[0].category_id != '7'">{{tk.quot | number:'1.2'}}</span>
                        <span *ngIf="tk.towin > 1 && tk.selections[0].category_id == '7'">{{tk.selections[0].value | number:'1.2'}}</span>
                    </div>
                    <div class='col col_apo' style="text-align: center">
                        Bs. {{tk.amount | number:'1.2'}} <br>
                        <span class='banner_histo pendeivis' *ngIf="tk.status === 3">Perdido</span>
                    </div>
                    <div class='col col_win'>
                        <span *ngIf="tk.towin == 0 && tk.status === 0">Ganancias según dividendo</span>
                        <span *ngIf="tk.towin === 1 && tk.status === 3">---</span>
                        <span *ngIf="tk.towin > 1">Bs. {{ tk.towin | number:'1.2'}}</span><br>
                        <span class='banner_histo ganadeivis' *ngIf="tk.status === 1">Ganado</span>
                    </div>
                    <!-- <div class='separador'></div> -->
                </div>
            </div>
        </div>
    </div>
</div>