<div class='body_histo'>
    <app-menu-opciones></app-menu-opciones>
</div>

<div class="todo">
    <div class="menu_ib_izq">
        <div class="cada_menu_ib selecc_msj">Buzón de mensajes</div>

        <div class="cada_menu_ib">Chats</div>
        <div class="cada_menu_ib">Nuevo chat</div>

    </div>
    <div class="cuerpo_ib">
        <div class="unmensaje" *ngFor="let msj of mensajes" routerLink="/mensaje/{{msj.serial}}">
            <div class="ms_check">
                <input type="checkbox" name="seleccionar" id="">
            </div>
            <div class="ms_author">
                {{msj.desde}}
            </div>
            <div class="ms_titul">
                <span class="mst_1">{{msj.titulo}}</span>
                <div class="msst_1" [innerHTML]="msj.preliminar"></div>
            </div>
            <div class="ms_hour">
                <span>{{ msj.fecha_hora | date:'d/MM/yyyy'}} <br> {{ msj.fecha_hora | date:'shortTime'}}</span>
            </div>
        </div>
    </div>
</div>
